<div class="users-list">
    <% @users.each do |user| %>
        <div class="user">
            <div class="image">
                <% if user.image.present? %>
                    <%= image_tag(user.image, class: "user-img") %>
                <% else %>
                    <%= image_tag("no-image-found.png", class: "user-img") %>
                <% end %>
            </div>
            <div class="details">
                <a href="/users/<%= user.id %>"><h2><%= user.name %></h2></a>
                <h4>Number of posts: <%= user.posts_counter %></h4>
            </div>
        </div>
    <% end %>
</div>