<div class="post-details">
    <div class="posts">
        <div class="items">
            <b>Post #<%= @index + 1 %> by <%=link_to @users.name, "/users" %></b>
            <div class="likes-comments">
            <h5>Comments: <%= @post.comments.count %></h5>
            <h5>Likes: <%= @post.likes.count %></h5>
        </div>
    </div>
    <p class="post-description">
        <b><%= @post.title %></b><br><br>
        <%= @post.description %>
    </p>
    <% @post.comments.each do |comment| %>
        <p><%= comment.author.name %>: <%= comment.comment %></p>
    <% end %>

    <div class="comment-form">
        <button type="button">
            <%= link_to "Comment", new_user_post_comment_path(post_id: @post.id) %>
        </button>
    </div>
    <br><br>
    <div class="like-button">
        <%= form_with model: @like, url: user_post_likes_path(1, @post), scope: :like do |form| %>
            <%= form.submit "Like" %>
        <% end %>
    </div>
</div>
